<?xml version="1.0" encoding="utf-8"?>
<!-- 
     This web.config file controls how the Azure App Service handles the application.
     It's specifically configured for Python Flask applications running with Gunicorn.
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="python" arguments="-m gunicorn --bind=0.0.0.0:5000 --timeout 600 wsgi:application" 
                  stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\python.log" startupTimeLimit="120">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="FLASK_APP" value="main.py" />
      </environmentVariables>
    </httpPlatform>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^static/.*" ignoreCase="true" />
          <action type="None" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
    <httpRedirect enabled="false" />
  </system.webServer>
</configuration>